In [1]:
pip install bs4

Requirement already satisfied: bs4 in c:\users\asus\anaconda3\lib\site-packages (0.0.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: beautifulsoup4 in c:\users\asus\anaconda3\lib\site-packages (from bs4) (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\asus\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.3.2.post1)

# 1.Write a python program to display all the header tags from wikipedia.org and make data frame.

In [3]:
#importing the required libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
url='https://en.wikipedia.org/wiki/Main_Page'
r=requests.get(url)
#print(r)
soup=BeautifulSoup(r.text,'lxml')
#print(soup)
header_tag=soup.find_all('h2',class_='mp-h2')
pd=pd.DataFrame(header_tag)
print(pd)

                                       0
0  [[], [From today's featured article]]
1                   [[Did you know ...]]
2                        [[In the news]]
3                        [[On this day]]
4       [[], [Today's featured picture]]
5           [[Other areas of Wikipedia]]
6    [[], [Wikipedia's sister projects]]
7                [[Wikipedia languages]]

C:\Users\Asus\anaconda3\lib\site-packages\pandas\core\internals\construction.py:568: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame-
Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [5]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/mens/team-rankings/odi'
r=requests.get(url)
soup=BeautifulSoup(r.text,'html.parser')
table=soup.find('table',class_='table')
rows=table.find_all('tr')
team_data=[]
#print(rows)
for row in rows[1:11]:
    cells=row.find_all('td')
    team=cells[1].text.strip()
    matches=cells[2].text.strip()
    points=cells[3].text.strip()
    rating=cells[4].text.strip()
    team_data.append([team,matches,points,rating])
    df=pd.DataFrame(team_data,columns=['team','matches','points','rating'])
    print(df)

         team matches points rating
0  India\nIND      55  6,640    121
             team matches points rating
0      India\nIND      55  6,640    121
1  Australia\nAUS      42  4,926    117
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
5      England\nENG      38  3,777     99
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
5      England\nENG      38  3,777     99
6     Sri Lanka\nSL      47  4,134     88
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
5      England\nENG      38  3,777     99
6     Sri Lanka\nSL      47  4,134     88
7   Bangladesh\nBAN      44  3,836     87
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
5      England\nENG      38  3,777     99
6     Sri Lanka\nSL      47  4,134     88
7   Bangladesh\nBAN      44  3,836     87
8  Afghanistan\nAFG      30  2,533     84
               team matches points rating
0        India\nIND      55  6,640    121
1    Australia\nAUS      42  4,926    117
2  South Africa\nSA      34  3,750    110
3     Pakistan\nPAK      36  3,922    109
4   New Zealand\nNZ      43  4,399    102
5      England\nENG      38  3,777     99
6     Sri Lanka\nSL      47  4,134     88
7   Bangladesh\nBAN      44  3,836     87
8  Afghanistan\nAFG      30  2,533     84
9   West Indies\nWI      38  2,582     68

# Top 10 ODI Batsmen along with the records of their team andrating.

In [6]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
r=requests.get(url)
soup=BeautifulSoup(r.text,'html.parser')
table=soup.find('table',class_='table')
rows=table.find_all('tr')
#print(rows)
bowler_data=[]
for row in rows[1:11]:
    cells=row.find_all('td')
    bowler=cells[1].text.strip()
    team=cells[2].text.strip()
    rating=cells[3].text.strip()
    bowler_data.append([bowler,team,rating])
df=pd.DataFrame(bowler_data,columns=['BOWLER','TEAM','RATING'])
print(df)

           BOWLER TEAM RATING
0  Keshav Maharaj   SA    741
1  Josh Hazlewood  AUS    703
2  Mohammed Siraj  IND    699
3  Jasprit Bumrah  IND    685
4      Adam Zampa  AUS    675
5     Rashid Khan  AFG    667
6   Kuldeep Yadav  IND    667
7     Trent Boult   NZ    663
8  Shaheen Afridi  PAK    650
9  Mohammad Shami  IND    648

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/womens/team-rankings/odi'
r=requests.get(url)
soup=BeautifulSoup(r.text,'html.parser')
table=soup.find('table',class_='table')
rows=table.find_all('tr')
team_data=[]
#print(rows)
for row in rows[1:11]:
    cells=row.find_all('td')
    team=cells[1].text.strip()
    matches=cells[2].text.strip()
    points=cells[3].text.strip()
    rating=cells[4].text.strip()
    team_data.append([team,matches,points,rating])
    df=pd.DataFrame(team_data,columns=['team','matches','points','rating'])
    print(df)

             team matches points rating
0  Australia\nAUS      21  3,429    163
             team matches points rating
0  Australia\nAUS      21  3,429    163
1    England\nENG      23  2,991    130
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
5   West Indies\nWI      20  1,768     88
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
5   West Indies\nWI      20  1,768     88
6     Sri Lanka\nSL       9    714     79
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
5   West Indies\nWI      20  1,768     88
6     Sri Lanka\nSL       9    714     79
7   Bangladesh\nBAN      14  1,074     77
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
5   West Indies\nWI      20  1,768     88
6     Sri Lanka\nSL       9    714     79
7   Bangladesh\nBAN      14  1,074     77
8     Thailand\nTHA      11    753     68
               team matches points rating
0    Australia\nAUS      21  3,429    163
1      England\nENG      23  2,991    130
2  South Africa\nSA      21  2,446    116
3        India\nIND      18  1,745     97
4   New Zealand\nNZ      21  2,014     96
5   West Indies\nWI      20  1,768     88
6     Sri Lanka\nSL       9    714     79
7   Bangladesh\nBAN      14  1,074     77
8     Thailand\nTHA      11    753     68
9     Pakistan\nPAK      24  1,602     67

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [8]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
url='https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
r=requests.get(url)
soup=BeautifulSoup(r.text,'html.parser')
table=soup.find('table',class_='table')
rows=table.find_all('tr')
batsman_data=[]
#print(rows)
for row in rows[1:11]:
    cells=row.find_all('td')
    batsman=cells[1].text.strip()
    team=cells[2].text.strip()
    rating=cells[3].text.strip()
    batsman_data.append([batsman,team,rating])
df=pd.DataFrame(batsman_data,columns=['BATSMAN','TEAM','RATING'])
print(df)

                BATSMAN TEAM RATING
0  Natalie Sciver-Brunt  ENG    807
1           Beth Mooney  AUS    750
2   Chamari Athapaththu   SL    736
3       Laura Wolvaardt   SA    727
4       Smriti Mandhana  IND    708
5          Alyssa Healy  AUS    698
6          Ellyse Perry  AUS    697
7      Harmanpreet Kaur  IND    694
8           Meg Lanning  AUS    662
9        Marizanne Kapp   SA    642

# Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world andmake data frame
i) Headline,
ii) Time
iii) News Link

In [9]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
url='https://www.cnbc.com/world/?region=world'
r=requests.get(url)
soup=BeautifulSoup(r.text,'html.parser')
articles=soup.find_all('div',class_='App-containerClick')
#print(art)
headlines=[]
times=[]
links=[]
for article in articles:
    headline=article.find('a').text.strip()
    headlines.append(headline)
    time=article.find('time').text.strip()
    times.append(time)
    link=article.find('a')
    ['href']
    links.append(link)
    data={'Time':times,'News Link':links}
df=pd.DataFrame(data)
print(df)

          Time          News Link
0  3 Hours Ago  [Skip Navigation]